function SnakeGrid.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
push constant 4
call Math.divide 2
pop this 1
push argument 2
push constant 16
sub
push constant 4
call Math.divide 2
pop this 2
push pointer 0
call SnakeGrid.initGrid 1
pop temp 0
push pointer 0
return
function SnakeGrid.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push local 0
push this 5
add
pop pointer 1
push that 0
pop local 1
push local 1
call Array.dispose 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SnakeGrid.placeFood 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push this 1
call Random.randRange 1
pop local 1
push this 2
call Random.randRange 1
pop local 2
push pointer 0
push local 1
push local 2
call SnakeGrid.checkOccupied 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push local 1
pop this 3
push local 2
pop this 4
push constant 0
return
function SnakeGrid.drawFood 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 3
push constant 4
call Math.multiply 2
push constant 2
add
push this 4
push constant 4
call Math.multiply 2
push constant 2
add
push constant 2
call Screen.drawCircle 3
pop temp 0
push constant 0
return
function SnakeGrid.initGrid 3
push argument 0
pop pointer 0
push this 1
call Array.new 1
pop this 5
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push this 1
lt
not
if-goto WHILE_END0
push this 2
call Array.new 1
pop local 2
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 2
lt
not
if-goto WHILE_END1
push local 1
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push this 5
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function SnakeGrid.sizeX 0
push argument 0
pop pointer 0
push this 1
return
function SnakeGrid.sizeY 0
push argument 0
pop pointer 0
push this 2
return
function SnakeGrid.foodX 0
push argument 0
pop pointer 0
push this 3
return
function SnakeGrid.foodY 0
push argument 0
pop pointer 0
push this 4
return
function SnakeGrid.setOccupied 1
push argument 0
pop pointer 0
push argument 1
push this 5
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function SnakeGrid.checkOccupied 1
push argument 0
pop pointer 0
push argument 1
push this 5
add
pop pointer 1
push that 0
pop local 0
push argument 2
push local 0
add
pop pointer 1
push that 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
goto IF_END0
label IF_FALSE0
push constant 0
return
label IF_END0
function SnakeGrid.checkFood 0
push argument 0
pop pointer 0
push argument 1
push this 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 2
push this 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
function SnakeGrid.currentPosition 0
push argument 0
pop pointer 0
push constant 22
push constant 21
call Output.moveCursor 2
pop temp 0
push this 0
call SnakeGame.getCycle 1
call Output.printInt 1
pop temp 0
push constant 22
push constant 42
call Output.moveCursor 2
pop temp 0
push argument 1
call Output.printInt 1
pop temp 0
push constant 22
push constant 46
call Output.moveCursor 2
pop temp 0
push argument 2
call Output.printInt 1
pop temp 0
push constant 0
return
function SnakeGrid.drawSnakeBit 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push constant 4
call Math.multiply 2
push argument 2
push constant 4
call Math.multiply 2
push argument 1
push constant 4
call Math.multiply 2
push constant 4
add
push argument 2
push constant 4
call Math.multiply 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push pointer 0
push argument 1
push argument 2
push constant 0
not
call SnakeGrid.setOccupied 4
pop temp 0
push constant 0
return
function SnakeGrid.clearSnakeBit 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push argument 1
push constant 4
call Math.multiply 2
push argument 2
push constant 4
call Math.multiply 2
push argument 1
push constant 4
call Math.multiply 2
push constant 4
add
push argument 2
push constant 4
call Math.multiply 2
push constant 4
add
call Screen.drawRectangle 4
pop temp 0
push pointer 0
push argument 1
push argument 2
push constant 0
call SnakeGrid.setOccupied 4
pop temp 0
push constant 0
return
